body {
	font-family: "Montserrat", sans-serif;
}

header {
    background: #bbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    font-weight: 800;
    font-size: 22px;
}

nav a:hover {
    color: orange
}

footer {
    text-align: center;
    background: url("../Midia/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    font-family: "Special Elite", sans-serif;
    margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
		text-align: center;
	}
}